$white_color: #fff;
$black_color: #000;
$focus_color: #5F82FF;
$separator_color: #DADADA;
$link_color: #AC1900;
$disable_link_color: #AE6E63;

$expense_item_color_1: #FF9B5F;
$expense_item_color_2: #FFE55F;
$expense_item_color_3: #C2FF5F;
$expense_item_color_4: #6CFF5F;
$expense_item_color_5: #5FFFB2;
$expense_item_color_6: #5FE2FF;
$expense_item_color_7: #5F82FF;
$expense_item_color_8: #C25FFF;
$expense_item_color_9: #F25FFF;
$expense_item_color_10: #FF5FC9;
$expense_item_color_11: #FF5F5F;
$expense_item_color_11: #C15340;

$content_container_padding: 3.2rem;