@import "../../scss/variables/variables";

.login-help {
  flex-grow: 1.5;
  color: $link_color;
  display: flex;
  flex-direction: row;
  align-items: flex-end;


  @media screen and (max-width: 320px) {
    padding-bottom: 2rem;
  }
  @media screen and (min-width: 320px) {
    padding-bottom: 2rem;
  }
  @media screen and (min-width: 450px) {
    padding-bottom: 4.4rem;
  }
}