@import "../../scss/variables/variables";

.login-help {
  flex-grow: 1.5;
  color: $link_color;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  @media screen and (max-width: 320px) {
    flex-grow: 0;
  }
  @media screen and (min-width: 320px) {
    flex-grow: 0;
  }
  @media screen and (min-width: 375px) {
    flex-grow: 0;
  }
}