.container {
  height: auto;
  min-height: Max(100vh, 568px);
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 450px) {
    width: 428px;
  }
  @media screen and (min-width: 576px) {
    width: calc(100% - 15px*2);
  }
  @media screen and (min-width: 1200px) {
    width: calc(1200px - 15px*2);
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}