.container {
  height: auto;
  min-height: Max(100vh, 568px);
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 450px) {
    width: 428px;
  }
  @media screen and (min-width: 576px) {
    width: calc(576px - 15px*2);
  }
  @media screen and (min-width: 768px) {
    width: calc(768px - 15px*2);
  }
  @media screen and (min-width: 992px) {
    width: calc(992px - 15px*2);
  }
  @media screen and (min-width: 1200px) {
    width: calc(1200px - 15px*2);
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.profile {
  &-wrapper {
    width: 100%;
    height: 100%;
    // margin: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  &-icon {
    width: 6rem;
    height: 6rem;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    & h2 {
      margin-top: 4.5rem;
      text-align: center;

      @media screen and (max-width: 375px) {
        margin-top: 2.5rem;
      }
    }
  }
}

.support-container {
  width: 100%;
  height: 100%;
  // padding-top: 4.5rem;
}

.margin-auto {
  margin: auto !important;
}

.paragraph {
  margin-bottom: 4.5rem;
}

.block-show {
  animation: block-show .4s forwards;
}
.block-hide {
  animation: block-hide .4s forwards; // block-show .4s reverse;
}

@keyframes block-show {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes block-hide {
  0% {
    transform: translateY(0vh);

  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20vh);
    opacity: 0;
  }
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

// .page-enter {
// }
.page-enter-active {
  animation: page-show .5s forwards;
}
// .page-exit {
// }
.page-exit-active {
  animation: page-show .5s reverse;
}

@keyframes page-show {
  0% {
    opacity: 0;
    // transform: matrix(0, -1, -1, -1, 0, -1);
    transform: translateX(-400px);
  }
  // 50% {
  //   opacity: 1;
  // }
  100% {
    opacity: 1;
    // transform: matrix(1, 0, 0, 0, 0, 0);
    transform: translateX(0px);
  }
}

// .ready-to-drag-and-drop {
//   opacity: .5;
// }

.logout-block {
  margin-top: 4.5rem;

  @media screen and (max-width: 375px) {
    margin-top: 2.5rem;
  }
}