@import "../variables/variables";

$container_padding: $content_container_padding;

.modal {
  &__wrap {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white_color;
  }

  &__upper-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid $separator_color;
    padding-top: 2.7rem;
  }

  &__content { // repeat from Main.module.scss
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    padding-top: 5.4rem;
    padding-left: $container_padding;
    padding-right: $container_padding;

    // @media screen and (max-width: 428px) {
    //   padding-left: 1.5rem;
    //   padding-right: 1.5rem;
    // }
  }
}

.upper-panel__row {
  width: 100%;
  padding: 0.2rem;
  background-color: transparent;
}