@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500&display=swap');
@import "../variables/variables";

.simple-text {
  font-family: "Josefin Sans", sans-serif, "Times New Roman";
  font-style: normal;
  font-weight: normal;
}
html {
  @extend .simple-text;
  font-size: 62.5%;
}
.simple-text_number {
  @extend .simple-text;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.8rem;

  @media screen and (min-width: 576px) {
    $size: 3rem;
    font-size: $size;
    line-height: calc(#{$size} * 1.5);
  }
}
.simple-text_main {
  @extend .simple-text;
  font-size: 2rem;
  line-height: 2rem;

  @media screen and (min-width: 576px) {
    $size: 2.4rem;
    font-size: $size;
    line-height: calc(#{$size} * 1.5);
  }
}
.simple-text_other {
  @extend .simple-text;
  font-size: 1.5rem;
  line-height: 1.5rem;
  @media screen and (min-width: 576px) {
    font-size: 2.4rem;
    line-height: calc(2.4rem * 1.5);
  }

  &-bold {
    font-weight: bold;
    @media screen and (min-width: 576px) {
      font-size: 2.4rem;
      line-height: calc(2.4rem * 1.5);
    }
  }
}
.simple-text_menu {
  @extend .simple-text;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.simple-text_expense-item {
  @extend .simple-text;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.simple-title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.simple-title_main {
  @extend .simple-title;

  @media screen and (max-width: 450px) {
    font-size: 3.0rem;
    line-height: 3.5rem;
  }
  @media screen and (min-width: 450px) {
    font-size: 3.6rem;
    line-height: 4.1rem;
  }
}
.simple-title_other {
  @extend .simple-title;
  font-size: 3rem;
  line-height: 3.4rem;
}
h1 {
  @extend .simple-title_main;
}
h2 {
  @extend .simple-title_other;
}
h3 {
  @extend .simple-title;
}
h4 {
  @extend .simple-title;
}
h5 {
  @extend .simple-title;
}
h6 {
  @extend .simple-title;
}
.button-typography {
  @extend .simple-title_other;
}

a {
	text-decoration: none;
  color: $black_color;

  &.simple-link {
    margin: 0;
  }
}

p {
  margin: 0;
}

.lowercase {
  text-transform: lowercase;
}
